* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
p{
    margin-bottom: 0.5rem !important;
}
header {
    width: 100%;
    height: 78px;
    background: #1c1c1d;
    color: #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header h4 {
    font-size: 25px;
    color: #ffffff;
}
.mb-rems {
    margin-top: 4rem;
}
.booking-alignment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: initial;
}
#hero-section {
    background: url('../../assets/img/406aa02f-bb03-4ee3-8820-a6fd9f95d489.jpg') no-repeat center center/cover;
    position: relative;
    height: calc(100vh - 78px);
}
#hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.48);
}
#hero-section .hero-section-wrapper {
    position: relative;
    z-index: 1000;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}
.text-capitallize{
    text-transform: capitalize;
}
.hero-content {
    display: -ms-grid;
    display: grid;
    place-items: center;
}
.hero-content h4 {
    font-family: 'Gilda Display', serif;
    font-size: 70px;
    text-align: center;
    color: #ffffff;
}
.section-wrapper {
    position: relative;
    z-index: 1000;
}
.hero-cta {
    color: #ffffff;
    font-size: 16px;
    border: 3px solid #ffffff;
    padding: 10px 25px;
}
.hero-cta:hover {
    color: #ffffff;
}
.Checkout-btn {
    background: #151516 !important;
}
.intro-section {
    position: relative;
    background: url('../../assets/img/parallax-10.jpg') no-repeat center center/cover;
    padding: 4rem 0;
}
.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.48);
    z-index: 1;
}
.room-section {
    width: 100%;
    padding-top: 120px;
    position: relative;
}
.room-section::after {
    content: '';
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
    background: #1c1c1d;
}
.room-section .details-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #1c1c1d;
    padding: 15px;
}
.room-section .details-card .card {
    padding: 18px;
    margin-bottom: 5%;
    width: 48%;
    height: 118px;
    background: #151516;
}
.rooms {
    min-height: 200px;
}
.header-link-tag{
    color: #ffffff;
    font-size: 25px;
}
.header-link-tag:hover{
    color: #ffffff;
}
